* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

input, label {
    display: block;
}

label {
    color: rgb(25, 123, 105);
}

input {
    width: 100%;
}

.submit {
    margin: 15px auto 0 auto;
    width: 40%;
    background-color: rgb(22, 92, 143);
    color: aliceblue;
    border-radius: 5px;
    
}

form {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
}

.g-recaptcha {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}